{% extends "patrikmain/main_base.html" %}
{% load staticfiles %}

<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>

<body>

{% block branding %}
    <div id="branding" style="float: none">
    <img src="{% static 'img/logo.png' %}" align="center" id="logo-login"> {# Добавить прям сюда стиль #}
    </div>
{% endblock %}

{% block menu %}
{% endblock %}

{% block person %}
{% endblock %}

<div id="container">
    {% block container %}

        {% block content %}

            <div id="main">
                <form id="login" action='{% url "patrikmain:login" %}' method="post">
                {% csrf_token %}
                    <div class="form-row">
                        <img src="{% static 'img/login.png' %} "><input type="text" name="username" class="text-in">
                    </div>
                    <div class="form-row">
                        <img src="{% static 'img/lock.png' %}"><input type="password" name="password" class="text-in">
                        <input type="hidden" name="next" value="{{ next }}" />
                    </div>
                    <div class="submit-row">
                        <label>&nbsp;</label><input type="submit" value="Вперед!" class="button_main"/>
                    </div>
                </form>
            </div>

        {% endblock %}

    {% endblock %}
</div>

{% block footer %}
{% endblock %}
</body>

</html>