{% load staticfiles %}

{% block extrastyle %}{% endblock %}
<style>

</style>

<html>
<head lang="en">
    <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "css/main.css" %}{% endblock %}" />
    <meta charset="UTF-8">
    <title>Patrikman</title>
    <link href="{% static 'js/lightgallery/skins/default/style.css' %}" type="text/css" media="screen" rel="stylesheet" />
    <script src="{% static 'js/lightgallery/lightgallery.min.js'%}" type="text/javascript"></script>
    <script>lightgallery.init();</script>

<script type="text/javascript">

</script>

</head>
<body>
<div id="header">

    {% block branding %}
        <div id="branding">
            <img src="{% static 'img/logo.png' %}" align="center">
        </div>
    {% endblock %}

    <div id="menu">
        {% block menu %}
                <a {% if active == 'prom' %} id="active" {% endif %} class="link"  href="{% url 'patrikmain:prom_mater' %}"><img src="{% static 'img/prom.png' %}">Рекламные материалы</a>
                <a {% if active == 'my_orders' %} id="active" {% endif %} class="link"  href="{% url 'patrikmain:my_orders' %}"><img src="{% static 'img/bonus.png' %}">Бонусы</a>
                <a {% if active == 'settings' %} id="active" {% endif %} class="link" href="{% url 'patrikmain:my_settings' %}"><img src="{% static 'img/my_data.png' %}">Мои данные</a>
        {% endblock %}


            {% block person %}
                <div id="person">
                <img src="{% static 'img/person.png' %}" align="center">
                {% if cur_user %} Вы зашли как: <a href="{% url 'patrikmain:my_settings' %}">{{ cur_user }}</a>
                    <a href="{% url 'patrikmain:logout' %}"><img src="{% static 'img/exit.png' %}" align="center"> </a>
                {% endif %}
                </div>
            {% endblock %}

    </div>



</div>

{% block container %}

    {% block content %}
    {% endblock %}

{% endblock %}

{% block footer %}
{% endblock %}
</body>
</html>