{% extends "patrikmain/main_base.html" %}
{% load staticfiles %}

<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
{% block container %}
    {% block content %}
        <div id="content-main">
            {% if result %}

                <div class="paginator-up">
                    <span class="step_links">
                        {% if result.has_previous %}
                            {% if result.previous_page_number != 1 %}
                                <a href="?page=1" class="page_link">1</a>
                                <span>...</span>
                            {% endif %}
                            <a href="?page={{ result.previous_page_number }}" class="page_link">{{ result.previous_page_number }}</a>
                        {% endif %}
                        <span class="cur_page">{{ result.number }}</span>
                        {% if result.has_next%}
                            <a href="?page={{ result.next_page_number }}" class="page_link">{{ result.next_page_number }}</a>
                            {% if result.next_page_number != result.paginator.num_pages %}
                                <span>...</span>
                                <a href="?page={{ result.paginator.num_pages }}" class="page_link">{{ result.paginator.num_pages }}</a>
                            {% endif %}
                        {% endif %}
                    </span>
                </div>

                    <table id="bonus">
                        <thead>
                            <td class="order-cell">Номер заказа</td><td class="order-cell">Дата заказа</td><td class="order-cell">Статус</td>
                        </thead>
                        <tbody>
                        {% for foo in result %}
                            <tr class="row">
                                <td class="order-cell">{{ foo.orderID }}</td><td class="order-cell">{{ foo.orderdate }}</td>
                                {% if foo.orderstatus %}<td class="order-cell" style="color: rgb(16, 195, 2)"> Выплачен
                                {% else %} <td class="order-cell" style="color: rgb(195, 2, 57)">Не выплачен
                                {% endif %} </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                <div class="paginator-down">
                    <span class="step_links">
                        {% if result.has_previous %}
                            {% if result.previous_page_number != 1 %}
                                <a href="?page=1" class="page_link">1</a>
                                <span>...</span>
                            {% endif %}
                            <a href="?page={{ result.previous_page_number }}" class="page_link">{{ result.previous_page_number }}</a>
                        {% endif %}
                        <span class="cur_page">{{ result.number }}</span>
                        {% if result.has_next%}
                            <a href="?page={{ result.next_page_number }}" class="page_link">{{ result.next_page_number }}</a>
                            {% if result.next_page_number != result.paginator.num_pages %}
                                <span>...</span>
                                <a href="?page={{ result.paginator.num_pages }}" class="page_link">{{ result.paginator.num_pages }}</a>
                            {% endif %}
                        {% endif %}
                    </span>
                </div>

            {% endif %}
        </div>
    {% endblock %}
{% endblock %}
</body>
</html>