{% extends "patrikmain/main_base.html" %}

<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
{% block container %}
    {% block content %}

    {% if result %}
        <table id="prom_table">

        {% for res in result %}
            <tr class="image">{% for foo in res%}<td><a href="{{ foo.view.url }}" rel="lightgallery" title="{{ foo.name }}"><img src="{{ foo.view.url }}" width="210" height="126"></a></td>{% endfor %}</tr>
            <tr>{% for foo in res%}<td><a href="{{ foo.view.url }}" download="{{ foo.name }}" class="name">Скачать {{ foo.name }}</a></td>{% endfor %}</tr>

        {% endfor %}
        </table>
    {% endif %}
    {% endblock %}
{% endblock %}
</body>
</html>