{% extends "patrikmain/main_base.html" %}

<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    {% block container %}
        {% block content %}
            <div id="content-main">
            {% if result %}
                <form id="set_change" action="" method="post">
                    {% csrf_token %}
                    <table id="setting_form">
                        <tr>
                            <td class="input-name">Логин</td>
                            <td class="input-name">Номер телефона</td>
                        </tr>
                        <tr>
                            <td><input class="vtextfield" name="username" type="text" value="{{ result.username }}"></td>
                            <td><input class="vtextfield" name="phone" type="text" value="{{ result.phone }}"></td>
                        </tr>
                        <tr>
                            <td class="input-name">Имя</td>
                            <td class="input-name">Яндекс-кошелек</td>
                        </tr>
                        <tr>
                            <td><input class="vtextfield" name="first_name" type="text" value="{{ result.first_name }}"></td>
                            <td><input class="vtextfield" name="yandex_money" type="text" value="{{ result.yandex_money }}"></td>
                        </tr>
                        <tr>
                            <td class="input-name">Фамилия</td>
                            <td class="input-name">Кошелек web-money</td>
                        </tr>
                        <tr>
                            <td><input class="vtextfield" name="last_name" type="text" value="{{ result.last_name }}"></td>
                            <td><input class="vtextfield" name="web_money" type="text" value="{{ result.web_money }}"></td>
                        </tr>
                        <tr>
                            <td class="input-name">Отчество</td>
                            <td class="input-name">Номер карты</td>
                        </tr>
                        <tr>
                            <td><input class="vtextfield" name="farth_name" type="text" value="{{ result.farth_name }}"></td>
                            <td><input class="vtextfield" name="bank_card" type="text" value="{{ result.bank_card }}"></td>
                        </tr>
                        <tr>
                            <td><input class="button_main" type="submit" value="Изменить"></td>
                        </tr>
                    </table>
                </form>
            {% endif %}
            </div>
        {% endblock %}
    {% endblock %}
</body>