/*base*/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ebf1f6;
    margin-left: 12%;
    margin-right: 18%;
    margin-top: 2%;
}

#content-main {
    padding-top: 10%;
}

#header {
    display: inline;
}

#branding {
    float: left;
}

#menu {
    float: left;
    display: inline-flex;
    /*vertical-align: text-bottom;*/
    margin-left: 30px;
}

#active {
    background-color: rgb(170, 191, 220);
    border: 1px solid rgb(170, 191, 220);
}

#menu>a{
    padding: 12px 10px 0 10px;
    text-decoration: none;
}

#menu>a>img {
    float: left;
    padding-right: 10px;

}

.button_menu {
    float: right;
    text-align: center;
}

#person {
    border: 1px solid rgb(132, 147, 168);
    height: 33px;
    margin-left: 3px;
    padding: 12px 10px 0 10px;
    color: rgb(132, 147, 168);
}

.link {
    border: 1px solid rgb(98, 134, 189);
    height: 33px;
    background-color: rgb(98, 134, 189);
    margin-left: 3px;
    color: white;
    text-decoration: none;
}

.button_main {
    background-color: rgb(98, 134, 189);
    color: white;
    border: none;
    padding: 3% 6% 3% 6%;
}

/*login page*/

#logo-login {
    margin-left: 35%;
    margin-top: 3%;
}

#login {
    width: 40%;
    height: 40%;
    align-content: center;
    margin-left: 35%;
    margin-right: 30%;
    margin-top: 10%;
}

.form-row {
    align-items: center;
    background-color: white;
    margin-bottom: 10px;
    display: block;
    height: 28px;
    width: 230px;
}

.text-in{
    vertical-align: top;
    height: inherit;
    padding-left: 20px;
    border: none;

}

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #ffffff;
}

.submit-row {
    margin-left: 17%;
}

/*orders*/

#bonus {
    border-collapse: collapse;
    width: 97%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.row {
    border: solid #ebf1f6 1px;
    background-color: white;
    line-height: 2.5;
    color: rgb(99, 106, 113)

}

thead {
    background-color: rgb(160, 169, 177);
    color: white;
    font-size: 16px;
    font-family: "SegoeUI";
    line-height: 2.5;

}

.order-cell {
    padding-left: 20px;
}

/*paginator*/

.step_links {

}

.cur_page {
    border: 1px solid rgb(98, 134, 189);
    height: 33px;
    background-color: rgb(98, 134, 189);
    margin-left: 3px;
    color: white;
    text-decoration: none;
    padding: 0.5% 0.7% 0.5% 0.7%;
}
.page_link {
    border: 1px solid rgb(98, 134, 189);
    height: 33px;
    background-color: rgb(98, 134, 189);
    margin-left: 3px;
    color: white;
    text-decoration: none;
    padding: 0.5% 0.7% 0.5% 0.7%;
}

.paginator-up {

}

.paginator-down {
    margin-bottom: 20px;
}

/*prom_mater*/

#prom_table {
    width: 99%;
    padding-top: 30px;
    border-spacing: 0 20px;
}

.image {

}

.name {
    border: 1px solid rgb(98, 134, 189);
    height: 33px;
    background-color: rgb(98, 134, 189);
    margin-left: 3px;
    color: white;
    text-decoration: none;
    padding: 1.5% 2.1% 1.5% 2.1%;
}

/*settings*/

#set_change {

}

#setting_form {
    width: 102%;
    margin-top: 3%;
    margin-bottom: 3%;
}


.input-name {
    color: rgb(99, 106, 113);


}

.vtextfield {
    align-items: center;
    background-color: white;
    margin-bottom: 10px;
    display: block;
    height: 28px;
    width: 90%;
    border: none;
    padding-left: 20px;
    color: rgb(99, 106, 113);
}